input,select,button {
    /*-webkit-appearance: none;
    -moz-appearance: none;*/
    background-color: #fff;
    /*margin: 2px;*/
    height: 18px;
    padding-top: 0px;
    border: 1px solid #666;
    color: #000;
    vertical-align: text-top;
    text-decoration: none;
    -webkit-border-radius: 0px;

}
input[type=range] {
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100px;
    height: 10px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #666;
    width: 8px;
    height: 8px;
}
input[type=checkbox] {
    font-size: 8px;
    position: relative;
    border: 1px solid #666;
    display: inline-block;
    line-height: 1em;
    margin: 2px;
    padding: 2px;
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-top;
    -webkit-appearance: none;
}
input[type=checkbox]:checked::after {
    position: absolute;
    content: '';
    height: 60%;
    width: 60%;
    background-color: #666;
}

input[type=number] {
    padding:1px;
    border:0px solid #ccc;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    width: 50px;
}
#custom_wave {
    width: 100%;
    height: 50px;
}
#scope {
    border: 1px solid silver;
    margin: 5px;
    /*background-color: #000;*/
}
.label {
    width: 55px;
}
.info_banner {
    position: absolute;
    width: 100%;
    height: 24px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 5px;
    top: 0px;
    left: 0px;
    background-color: #eeb;
    box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}
.container_left {
    float: left;
    /*padding-right: 10px*/
}
.container_right {
    float: right;
    /*padding-right: 10px*/
}
.body {
    font-family: Calibri, Verdana, Helvetica, Arial, sans-serif;
    font-size: 10pt;
}
.panel {
    border: 1px solid silver;
    width: 250px;
    margin: 5px;
    padding: 5px;
}
.panel_group {
    float: left;
}
.title {
    font-weight: bold;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
}
.panel_auto {
    position: absolute;
    border: 1px solid silver;
    display: none;
    z-index: 1;
    padding: 5px;
    background-color: #ffffff;
}

